@model DAL.ViewModels.UserViewModel
<div class="p-2 align-items-center">
    <input type="hidden" id="@Model.IdentityUserId" asp-for="@Model.IdentityUserId">
    <input type="hidden" id="@Model.Id" asp-for="@Model.Id">
    <div class="form-floating mb-2">
        <input type="text" class="form-control" id="FName" asp-for="@Model.Firstname" required>
        <span asp-validation-for="Firstname" class="text-danger"></span>
        <label for="FName">First Name</label>
    </div>
    <div class="form-floating mb-2">
        <input type="text" class="form-control" id="LName" asp-for="@Model.Lastname" required>
        <span asp-validation-for="@Model.Lastname" class="text-danger"></span>
        <label for="LName">Last Name</label>
    </div>
    <div class="form-floating mb-2">
        <input type="text" class="form-control" id="Email" asp-for="@Model.Email" readonly>
        <label for="Email">Email</label>
    </div>
    <div class="form-floating mb-2">
        <input type="text" class="form-control" id="Email" asp-for="@Model.Phone" readonly>
        <label for="Email">Phone Number</label>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>